

/*  !*color: rgba(0, 0, 0, 0.5);*!*/
/*  !*overflow: auto;*!*/
/*  !*border-bottom-color: transparent;*!*/
/*  !*background: white;*!*/.content-placeholder[data-v-0ca0da05]{position:absolute;left:0;top:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center;font-size:14px;color:#b8b8b8}.empty[data-v-0ca0da05]{width:30%}