@import "../common/var";

.login-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  background-color: $--background-color-base;


  .login-form {
    width: 330px;
    margin: auto;
    display: flex;
  }

  .login-actions {
    width: 100%;
    display: flex;
  }

  .login-form-content {
    margin: auto;
    width: 100%;
  }

  .login-title {
    font-size: 60px;
    color: #93a6b8;
    text-align: center;
  }

  .login-subtitle {
    font-size: 20px;
    color: slategrey;
    text-align: center;
    margin-bottom: 30px;
  }

  .login-form-item {
    margin-top: 10px;
  }

  .login-logo {
    width: 100px;
    margin-bottom: 30px;
  }

  .wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
  }

  .wave img {
    width: 100%;
  }
}
