@import "../common/var";

.filter-item-container {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;

  .text-label {
    position: absolute;
    z-index: 1;
    transform: scale(0.7);
    top: -10px;
    background: $--color-white;
    left: 5px;
    color: $--color-text-regular;
  }
}

