@import "../common/var";

.page-iframe-container {
  background: $--color-white;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $--border-color-base;

  .page-body {
    overflow: auto;
    height: 100%;
    padding: 10px;
  }

  .title {
    font-size: 24px;
  }

  .breadcrumb {
    margin-top: 15px;
  }

  .alerts {
    margin-top: 15px;
  }

  .actions {
    margin-top: 15px;
  }

  .content {
    /*margin-top: 15px;*/
    flex: 1;
    height: 100%;
  }

  .main-iframe {
    width: 100%;
    height: 100%;
  }
}

