@import "../common/var";

.page-container {
  background: $--color-white;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $--border-color-base;

  .page-body {
    overflow: auto;
    height: 100%;
    padding: 10px;
  }

  .title-container {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 24px;
  }

  .breadcrumb {
    flex: 1;
  }

  .alerts {
    margin-top: 15px;
  }

  .actions {
    margin-top: 15px;
  }

  .content {
    margin-top: 15px;
  }

  .pagination {
    text-align: center;
    padding: 15px;
  }
}
