@import "../common/var";

.avatar-uploader{

  .cropper-image-container {
    width: 100%;
    height: 400px;
  }

  .select-icon-btn {
    cursor: pointer;
    margin: auto;
    &:hover {
      opacity: 0.8;
    }
  }

  .avatar {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .dialog-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .btns {
    margin-bottom: 20px;
  }
}


