@import "../common/var";

.text-logo{
  .happy {
    background: $--color-primary;
    color: white;
    padding: 6px;
    font-weight: bold;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border:1px solid $--color-primary;
  }

  .boot {
    background: white;
    border:1px solid $--color-primary;
    color: $--color-primary;
    padding: 6px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: none;

  }
}
